vm_param_list = [ 
    # Vm-1
    {
        vm_name         = "<Имя_ВМ>"
        vm_image        = "<Наименование_образа_ВМ>"
        vm_platform_id  = "<Имя_платформы_ВМ>"
        vm_net_name     = "<Имя_подсети_ycloud>"
        vm_zone         = "<Зона_доступности_ВМ>"
        vm_cpu          = <Ядра_процессора_ВМ>
        vm_ram          = <Размер_ОЗУ_ВМ>
        // Параметры диска ВМ
        disk_type       = "<Тип_диска>"
        disk_size       = "<Размер_диска>"
    },
    {
        vm_name         = "<Имя_ВМ_2>"
        vm_image        = "<Наименование_образа_ВМ_2>"
        vm_platform_id  = "<Имя_платформы_ВМ_2>"
        vm_net_name     = "<Имя_подсети_ycloud>"
        vm_zone         = "<Зона_доступности_ВМ_2>"
        vm_cpu          = <Ядра_процессора_ВМ_2>
        vm_ram          = <Размер_ОЗУ_ВМ_2>
        // Параметры диска ВМ
        disk_type       = "<Тип_диска>"
        disk_size       = "<Размер_диска>"
    },
    {
        ...
    }
]
